/*-----------------------------------------------
*    nav
-----------------------------------------------*/
.nav {
    position: fixed;
    top: 0;
    right: 2.5%;
}

.nav ul {
    padding-left: 0;
    text-align: right;
    margin-top: 20%;
}

.nav li {
    list-style-type: none;
    margin-bottom: 7px;
}

.nav a {
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 7px;
    transition: 0.3s;
}

.nav a:hover {
    text-decoration: none;
    color: #8b8b8b;
}

.nav .focus,
.nav .focus:hover {
    color: #BDBD3A;
}
